/*
	Tessellate by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 15pt;
		line-height: 1.75em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
	{
		padding: 0 0 0 0;
	}

	#header img
	{
		width: 6em;
		padding-left: 2em;
		padding-top: 2em;
	}

		#header header
		{
			padding: 6em 0 8em 0;
		}