/*
	Tessellate by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 13pt;
		line-height: 1.65em;
	}

	/* Feature Icon */

		.feature-icon
		{
			margin-bottom: 2em;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 0 0 0 0;
	}

	#header img
	{
		width: 6em;
		padding-left: 2em;
		padding-top: 2em;
	}

/*********************************************************************************/
/* Main Sections                                                                 */
/*********************************************************************************/

	.main
	{
	}
	
		.main > header
		{
			padding: 4em 0 4em 0;
		}
		
		.main > .content
		{
			padding: 4em 0 4em 0;
		}